.doc-box {
  border: 1px solid #eee;
  margin-bottom: 20px;
  border-radius: 10px;

  @media (max-width: 768px) {
    margin: 20px 0;
  }

  .doc-img {
    height: 175px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    [dir="rtl"] & {
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    @media (max-width: 500px) {
      height: auto;
    }
  }

  p {
    margin: 0;
  }

  .doc-info {
    padding: 20px 0;
    [dir="rtl"] & {
      text-align: right;
    }

    @media (max-width: 500px) {
      padding: 20px 20px;
    }

    .doc-name {
      color: $secondColor;
      font-size: 15px;
      font-weight: 600;
      [dir="rtl"] & {
        text-align: right;
      }
    }

    p {
      font-size: 14px;
      color: $paragraph;
    }

    .rate-num {
      font-size: 13px;
      font-weight: 600;
      color: $maincolor;
    }

    .wating-hours {
      margin-top: 15px;
      color: $maincolor;
      font-weight: 600;

      i {
        padding-right: 5px;
        color: $secondColor;
      }
    }
  }

  .doc-feat {
    padding: 15px 0;
    [dir="rtl"] & {
      text-align: right;
    }

    ul {
      @media (max-width: 500px) {
        display: flex;
        justify-content: space-around;
        margin-bottom: 25px;
      }

      li {
        font-size: 13px;
        line-height: 1.9em;
        color: $maincolor;
        font-weight: 600;

        i {
          padding-right: 5px;
          display: inline-block;
          color: $secondColor;
        }
      }
    }

    .book-btn {
      margin-top: 15px;
      a {
        border: 1px solid $secondColor;
        padding: 7px 50px;
        text-align: center;
        border-radius: 5px;
        color: $secondColor;
        transition: all 0.25s ease-in-out;

        &:hover {
          background-color: $secondColor;
          color: $white;
        }
      }
    }
  }
}
.mr-3,
.mx-3 {
  margin-right: unset !important;

  [dir="rtl"] & {
    margin-left: 1rem !important;
  }
}
